
h1{
    color: steelblue;
    font-size: xx-large;
    font-weight: bold;
}

h2{
    color: steelblue;
    font-size: x-large;
    font-weight: bold;
}

#search {
    position: absolute;
    
}

#searchbar {
    top: 260px;
    left: 375px;
    width: 580px;
    height: 30px;
  }


