<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="static/css/style.css">
      <script src="https://d3js.org/d3.v5.min.js"></script>
</head>


<body>

    <script>
    // Fade in on start
    $(document).ready(function() {
      $("body").hide().fadeIn(2000);
    });
  </script>
  <div class="container-fluid pt-3">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark  fixed-top">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Visualizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/about">About us</a>
            </li>
          </ul>
        </nav>
        
      </div>
    </nav>
  </div>
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="background-image: url('https://images.pexels.com/photos/6320/smartphone-vintage-technology-music.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); height: 100vh;;">
  <pre>
  <h1 class="t1">About us</h1>  <br>


  <h3 >Music through History generates statics based on the top artists and tracks at Spotify based on the year you search</h3>
  <h4 class="text align-items-center">Submitted by: </h4>
  <h4 class="text align-items-center">Tools used: Spotify Web API </h4> 
  <h4 class="text align-items-center">GitHub: https://github.com/SugeilyMG/Music_through_History.git </h4> 
          

  </pre>
</div>

      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>
</body>

</html>
