<!DOCTYPE html>
<html lang="en">

<head>
  <title>Spotify Search</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="static/css/style.css">
      <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
  <script>
    // Fade in on start
    $(document).ready(function() {
      $("body").hide().fadeIn(2000);
    });
  </script>

  <div class="container-fluid pt-3">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark  fixed-top">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Visualizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">About us</a>
            </li>
          </ul>
        </nav>
        
      </div>
    </nav>
  </div>

  <!-- User´s Search -->
  <div class="jumbotron" >
  </div>
    <div class="container push-spaces" >
      <div class="t1">The stats of music</div>
      <div class="t2">Search the music of Spotify by year and see what happens..! </div>
      <form>
        <div class="input-group mb-3 ">
          <div class="input-group-prepend">
          </div>
          <input type="text" class="form-control" id="searchInput" placeholder="Enter the year...(yyyy)">
          <div class="input-group-append">
            <button id="submit"  class="t3" type="submit">Search</button>  
           </div>
     
        
      </form>
    </div>

    </div>
          </form>
            <div id="plot"></div>
            <script src="static/js/plots.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>
</body>

</html>


